a.job-link:visited {
    color: #800080;
}

.job-item {
}

.job-title {
}

.jump-links {
    position: fixed;
    right: 16px;
    bottom: 56px;
    z-index: 10000;
    background-color: #fff;
    padding: 16px;
    box-shadow: 0 0 10px #ddd;
}

.fixed-bottom {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030;
}

.page-bottom-gap {
    padding-bottom: 56px;
}

.job-list.list-group .job-item:nth-of-type(even) {
    background-color: #faf8fa;
}
